/** App CSS */
header {
    margin-bottom: 1rem;
}

footer {
    font-family: "robotoregular", sans-serif;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    background-color: black;
    color: white;
    margin-top: 1rem;
}

footer a, footer a:visited {
    color: #bdbdbd;
}

article {
    margin-bottom: 1rem;
}

blockquote, pre {
    margin: 0.5rem 0.5rem 1rem;
    padding: 1rem;
    background-color: #b8b8b8;
}

ul, ol {
    padding: 0rem 1.5rem;
}

h2 {
    margin-top: 1rem;
}

.started h2 {
    margin-top: 1rem;
}

p {
    margin-bottom: 0.5rem;
}

.documentation ul {
    list-style: none;
    padding: 0rem 1rem;
    margin-bottom: 1rem;
}

.documentation h1 {
    font-size: 2rem;
}

.documentation .ex-col {
    border: 1px solid black;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0.2rem;
}
