{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <section class="row">
        <h1 class="col-s-6 col-2">Informations about AskaCSS</h1>

        <article class="col-12 row">
            <div class="col-s-2 col-10 panel primary">
                <h2 class="title">What is AskaCSS?</h2>
                <div class="body">
                    <b>AskaCSS</b>, is an open source CSS framework for web developers.
                    It is designed for used the CSS Selectors and CSS3 properties.
                </div>
            </div>
        </article>

        <article class="col-12 row">
            <div class="col-s-2 col-10 panel primary">
                <h2 class="title">Difference between AskaCSS and Bootstrap?</h2>
                <div class="body">
                    <p><b>Bootstrap</b>, is an old CSS framework, created by Twitter.
                        The creation date of first version is 2012.
                        Over the years, Twitter added many components, for help web developers,
                        for designed the websites.</p>

                    <p><b>AskaCSS</b>, is a new CSS framework, created by Christophe DALOZ - DE LOS RIOS.
                        The creation date of first version is 2021.
                        The framework has less components than Bootstrap, but AskaCSS is recent.
                        Bootstrap, relies on CSS classes, making the HTML code verbose.
                        AskaCSS, relies on CSS selectors, making the HTML code more readable.</p>
                </div>
            </div>
        </article>
    </section>
{% endblock %}
