{% extends 'documentation/base.html.twig' %}

{% block title %}License informations{% endblock %}

{% block documentation %}
    <h1 class="col-s-6 col-2">License informations</h1>

    <p>
        <b>AskaCSS</b> is a free software, you can redistribute it and/or modify it under the terms of the MIT
        License.<br>
        For download the source code, please visit a <a href="https://www.github.com/Christophedlr/AskaCSS">Github
        repository</a>.
    </p>

    <p>
        This website is under the MIT License. For obtain a copy, please visit a <a href="https://www.github.com/Christophedlr/askacss-doc">Github repository</a>.
    </p>

    <p>
        For obtaine the copy of license, please visit <a href="https://opensource.org/licenses/MIT">https://opensource.org/licenses/MIT</a>.
    </p>
{% endblock %}
